/* ##################################################


                Stop-Watch Styling


    ################################################## */

body{
    height:100vh;
    background: url(https://images.unsplash.com/photo-1602940659805-770d1b3b9911?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80) no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 60%;
    height: 250px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 0 3px;
}

#timer {
    width: 79%;
    font-size: 72px;
    text-align: center;
    margin: 0px auto;
    padding: 35px;
}

.buttons{
    text-align: center;
}

button{
    margin: 0 10px;
    border: none
}

button i{
    font-size: 2rem;
    padding: 10px;
    color: white;
    width: 50px;
}

#play{
    background-color: green;
}

#pause {
    background-color: orange;
}

#reset{
    background-color: red;
}